{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "semi" : [2, "always"],
    "space-infix-ops": 0,
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
    "max-len": [2, 150, 2],
    "no-param-reassign": [2, {"props":false}],
    "arrow-body-style": 0,
    "react/prefer-stateless-function": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "import/no-mutable-exports": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": false}],
    "import/extensions": ["error", { "js": "never", "jsx": "never", "scss": "always" }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "import/extensions": ['.js', '.jsx', '.scss', '.css']
  }
}
