<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_topbanner-enabled.b-page_layout-slider.b-page_layout-filter
    %div{data: {react-class: 'WelcomePageSample'}}

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
