<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body
    .container
      .text-center
        %h2
          %a{href: 'static/', title: 'Static'} Static
        %h2
          %a{href: 'react/', title: 'React'} React
        %h2
          %a{href: 'widget/', title: 'Widget'} Widget

        %p
          %span Версия
          %span#app_version ??
    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
    :javascript
      document.addEventListener('DOMContentLoaded', function() {
        var element = document.getElementById('app_version');
        if (element) { element.innerHTML=Kiosk.version; }
        console.log('KioskPublicStatic Version', Kiosk.version);
      });
