<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_layout-filter
    %div{data: {react-class: 'ProductSearchPageSample'}}

    %script{src: '../scripts/vendor.js'}
    %script{src: '../scripts/client.js'}
