$navListSubZindex: 1;
$headerZindex: 2;
$cboxZindex: 2;
$radioZindex: 2;
$formAlertZindex: 2;
$tooltipZindex: 5;
$navZindex: 5;
$fullFilterNotificationZindex: 5;
$floatCartZindex: 6;
$bubbleZindex: 10;
$adminZindex: 10;
$designOptionZindex: 20;
$itemFullFormRowZindex: 100;
$designSettingsZindex: 500;
$colorPickerPopupZindex: 600;
$topBannerZindex: 600;
$navMmenuZindex: 1000;
$mmenuOpenZindex: 5000;
$clientBarZindex: 5000;
$userBarZindex: 5000;

$fancyboxOverlayZindex: 8010;
$fancyboxWrapZindex: 8020;
$fancyboxOpenedZindex: 8030;
$fancyboxNavZindex: 8040;
$fancyboxCloseZindex: 8040;
$fancyboxTitleZindex: 8050;
$fancyboxTitleFloatZindex: 8050;
$fancyboxThumbsZindex: 8050;
$fancyboxLoadingZindex: 8060;

$nouiHandleZindex: 1;
$nouiStackingHandleZindex: 10;
$nouiStackingOriginZindex: -1;
