.nowrap {
  white-space: pre;
}

.b-cart__item {
  // TODO сделать с этим что-то
  // Тут приходит 0px
  // наверняка для чего-то нужно
  // посавил inherit чтобы показывалась упаковка
  // в корзине
  font-size: inherit;
}

#w1widget {
  text-align: center;

  .w1-widget {
    background: none !important;
  }
}

.kiosk-css-version {
  content: '1.3';
}

// custom
.b-status {
  // Оригинальный цвет такой
  // background-color: #e8e8e8
  background-color: rgba(220, 220, 220, 0.8);
}

// Установки такие-же как у .b-cart__form__delivery-name
.b-cart__form__payment-name {
  font-size: 1.214em;
  top: -3px;
  position: relative;
  width: 65%;
  img {
    vertical-align: middle;
    margin-left: 10px;
  }
}

// Установки такие-же как у .b-cart__form__delivery-address
.b-cart__form__payment-description {
  margin: 10px 0;
}

.pull-right {
  float: right;
}

.client-pin-code-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  text-decoration: underline;
}

// Чтобы меню в две строки имело нормальное растояние между строками
.b-footer__link {
  line-height: 24px;
}
